header {
    padding: 33px 0 70px;
    margin: auto;
}
.header-inner {
   display: flex;
   justify-content: space-between;
}
.nav {
    display: flex;
    gap: 60px;
}
.nav__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;     
}

.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.5)
}